Options +FollowSymlinks
RewriteEngine On


RewriteCond %{REQUEST_URI} ^/team11/moet_hennessy_app_new/(api)
RewriteRule ^.*$ api/web/index.php [L]

RewriteCond %{REQUEST_URI} ^/team11/moet_hennessy_app_new/(admin)
RewriteRule ^admin/(.*)$ backend/web/$1 [L]
RewriteRule ^.*$ backend/web/index.php [L]

RewriteCond %{HTTP_HOST} !/team11/moet_hennessy_app_new/(admin)
RewriteRule (.*) /team11/moet_hennessy_app_new//admin [R=301,L]